.socials {
  width: 100%;
  padding: 5rem 2rem 7rem;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative; /* Ensure proper stacking context */
  z-index: 2; /* Place above the Tron-like background */
  background-color: transparent; /* Remove the background color */
}

.app.dark-mode .socials {
  background-color: transparent; /* Ensure no background in dark mode */
}

.socials__container {
  max-width: 1600px;
  margin: 0 auto;
}

.socials__title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: var(--light-text);
}

.app.dark-mode .socials__title {
  color: var(--dark-text);
}

.socials__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.socials__item {
  width: 50px;
  transition: transform 0.3s ease;
}

.socials__item:hover {
  transform: scale(1.1);
}

.socials__icon {
  width: 60px;
  height: 60px;
}

.socials__icon:hover {
  color: var(--header-link-hover-color-light);
  transition: color 0.3s ease;
}

.app.dark-mode .socials__icon:hover {
  color: var(--header-link-hover-color-dark);
  transition: color 0.3s ease;
}

.socials__link {
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--light-accent);
  transition: color 0.3s ease, transform 0.3s ease;
}

.app.dark-mode .socials__link {
  color: var(--dark-accent);
}

.socials__link:hover {
  text-decoration: underline;
  transform: scale(1.1);
}
